
/*
    280,98
*/
.mainActionList {
    padding-right: 160px;
    padding-right: 300px;
    padding-right: 0px;
    padding-right: 20%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 98%;
    margin: 5px;

}
.list {
    height: 90%;
    /*border: 2px solid grey;*/
    border-radius: 5px;
    border: 1px solid rgb(100,100,100);
    background: whitesmoke;
}

