
<div class="wrapper">
    <div class="area">
        <div class="list">
            <p *ngIf="!creatures"><em>Loading...</em></p>
            <div class="mainList">
                <h3 style="display:block; margin-top:0; white-space: nowrap;">
                    <div style="float:right;">
                        <button class="btn btn-primary btn-sm" (click)="newCreature()">
                            <span class="glyphicon glyphicon-plus"></span> New
                        </button>
                    </div>
                    Creatures
                </h3>
                <table *ngIf="creatures" class="table table-striped">
                    <tr>
                        <th style="vertical-align: middle;">
                            Name
                        </th>
                    </tr>
                    <tr *ngFor="let creature of creatures">
                        <td style="white-space: nowrap;">
                            <a (click)="selectCreature(creature.id)">{{creature?.typeName}}</a> ({{creature?.baseLevel}})
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="edit">
            <!--(onSave)="onArmorSaved($event)"-->
            <app-creature-edit [creature]="selectedCreature" (onDelete)="onCreatureDeleted($event)" (onSave)="onCreatureSave($event)"></app-creature-edit>
        </div>
    </div>
</div>