<div class="h-100" [ngClass]="{'fullView': isGM}">
    <div class="row h-100" style="margin:0;">

        <div class="col-3 h-100 columnLeft" *ngIf="isGM">
            <div class="encounter-box">
                <h2>Library</h2>
                <app-library-list></app-library-list>
            </div>
        </div>

        <div class="h-100 columnCenter" [ngClass]="{'col-6': isGM,
                                       'col-7': !isGM}">


            <div class=" actorListArea h-50">
                <h2 class="actorListHeader">
                    Actors
                </h2>
                <div class="h-90">
                    <actor-list [actors]="actors" [viewType]="viewType" [isSelectable]="isGM" (onSelect)="selectActor($event)" (onDeleteClick)="deleteActor($event)"></actor-list>
                </div>
            </div>
            <div class="h-50 row" style="margin-left: 0; margin-right: 0;">
                <div class="col-5 h-100" style="padding-left: 0; padding-right: 10px;">
                    <div class="encounter-box messageListArea">
                        <message-list [messages]="messages"></message-list>
                    </div>
                </div>
                <div class=" col-7 h-100" style="padding:0;" *ngIf="isGM">
                    <div class="encounter-box actionEditArea" *ngIf="selectedAction!=null">
                        <h2>
                            Action
                        </h2>
                        <div class="actionEditControl">
                            <action-edit [selectedAction]="selectedAction" [actionTree]="currentActionTree" (onProposeAction)="onProposeAction($event)" (onDoAction)="onDoAction($event)"></action-edit>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 columnRight" [ngClass]="{'col-3': isGM,
                                    'col-5': !isGM}">
            <div class="encounter-box actionsList">
                <h2>
                    <span *ngIf="isGM" style="float:right; display:block;">
                        <button class="btn btn-primary btn-sm" (click)="moveToNext()">
                            <i class='material-icons'>navigate_next</i> Move Next
                        </button>
                    </span>
                    Actions <span class="subText">Current Time: {{currentTime}}</span>
                </h2>
                <actions-list [actions]="actions" [viewType]="viewType" [isSelectable]="isGM" (onSelect)="selectAction($event)" (onDeleteClick)="deleteAction($event)"></actions-list>
            </div>
        </div>
    </div>
</div>

