<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CEATSii </a>
            <select name="gameSystem" class="form-control"
                    [(ngModel)]="systemSettings.gameSystem" (ngModelChange)="onChange($event)">
                <option *ngFor="let gtype of gameTypes" [value]="gtype.value">{{gtype.name}}</option>
            </select>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li *ngIf="game" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/games']">
                        <span class='glyphicon glyphicon-th-list'></span> {{ game?.name }}
                    </a>
                    <ul>
                        <li *ngFor="let actor of actors" [class.link-active]="actor == selectedActor">
                            <a (click)="selectActor(actor)">
                                <span class='glyphicon glyphicon-user'></span> {{ actor?.name }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/games']">
                        <span class='glyphicon glyphicon-th-list'></span> Games
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/character']">
                        <span class='glyphicon glyphicon-th-list'></span> Characters
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/creature']">
                        <span class='glyphicon glyphicon-th-list'></span> Creatures
                    </a>
                </li>

                <!--<li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/counter']">
            <span class='glyphicon glyphicon-education'></span> Counter
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/fetch-data']">
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
    </li>-->
            </ul>
        </div>
    </div>
</div>
