

<header class="" style="height: 10%!important;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow h-100 " style="flex-flow: column;">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CEATSii</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <app-login-menu class="navbar-nav"></app-login-menu>

                <main-nav-menu class="navbar-nav flex-grow-1"></main-nav-menu>

            </div>
        </div>
        <div class="container" style="text-align: left; display: block; position: relative;">

            <div style="display:inline-block; text-align:left;">
                <app-encounter-header></app-encounter-header>
            </div>
            <div style="display:inline-block; text-align:center;">
                <alert style=""></alert>
            </div>
            <div *ngIf="isGM" style="position: absolute; top: 0; right:0;">
                <button class="btn btn-info btn-sm" style="margin-right: 10px;" (click)="rollD100Open()">
                    <i class='material-icons'>auto_awesome</i> Roll D100 Open
                </button>
                <button class="btn btn-info btn-sm" (click)="rollD100()">
                    <i class='material-icons'>auto_awesome</i> Roll D100
                </button>
            </div>
        </div>
    </nav>
</header>

<div class="mainbody">
    <main role="main" class="clear h-100" style="">
        <div class="h-100" style="position:relative;">
            <div class='apparea'>
                <div class='body-content'>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted" style="height: 10%!important;">
    <div class="container h-100">
        &copy; 2022 Solmead Productions - CEATSii - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
