<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CombatTracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CombatTrackerData.My.MySettings.MainDBConnString" connectionString="Server=MacBook-Pro.local,1433;Database=RMSSNew;User Id=sa;Password=Fair1dale!;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
	  <!--<add name="CombatTracker.My.MySettings.RMSSConnectionString" connectionString="Server=localhost;Database=RMSSNew;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="CombatTracker.My.MySettings.MainDBConnString" connectionString="Server=localhost;Database=RMSSNew;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MainDBConnString" connectionString="Server=MacBook-Pro-3.local,1433;Database=RMSSNew;User Id=sa;Password=Fair1dale!;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RMSSConnectionString" connectionString="Server=localhost;Database=RMSSNew;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="CMS_ConnectionString" value="Server=localhost;Database=RMSSNew;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add key="MainDBConnString" value="Server=localhost;Database=RMSSNew;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CombatTracker.My.MySettings>
      <setting name="CMS_ConnectionString" serializeAs="String">
        <value/>
      </setting>
    </CombatTracker.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
