
<div class="wrapper">
    <div class="area">
        <div class="list">
            <p *ngIf="!characters"><em>Loading...</em></p>
            <div class="mainList">
                <h3 style="display:block; margin-top:0; white-space: nowrap;">
                    <div style="float:right;">
                        <button class="btn btn-primary btn-sm" (click)="newCharacter()">
                            <span class="glyphicon glyphicon-plus"></span> New
                        </button>
                    </div>
                    Characters
                </h3>
                <table *ngIf="characters" class="table table-striped">
                    <tr>
                        <th style="vertical-align: middle;">
                            Name
                        </th>
                    </tr>
                    <tr *ngFor="let character of characters" >
                        <td style="white-space: nowrap;">
                            <a (click)="selectCharacter(character.id)">({{character?.typeString}}) {{character?.name}}</a> ({{character?.level}})
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="edit">
            <!--(onSave)="onArmorSaved($event)"-->
            <app-character-edit [character]="selectedCharacter" (onDelete)="onCharacterDeleted($event)" (onSave)="onCharacterSave($event)"></app-character-edit>
        </div>
    </div>
</div>
