<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CombatTracker.Web</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <style>
        .body {
            overflow: hidden;
        }
        fieldset {
            border: 1px solid #aaa;
            border-radius: 5px;
            background: whitesmoke;
            margin: 5px;
            padding: 10px;
        }
        legend {
            display: inline-block;
            width: auto;
            background: white;
            border-radius: 5px;
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
        }
    </style>
</head>
<body class="body">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
